<p><i>Avez-vous une question ? N'hésitez pas à nous envoyer un message ! Nous tacherons d'y répondre au plus vite.</i></p>
<div class="col-2 mx-auto">
    <form action="" method="post">
        <div class="form-row">
            <div class="form-group">
                <label for="email">Adresse mail</label>
                <input type="text" name="email" id="email" placeholder="Votre adresse mail">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="content">Votre message</label>
                <textarea class="form-control rounded-0" name="content" id="content" placeholder="Votre message"></textarea>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" name="envoyer">Envoyer</button>
    </form>
</div>